*.o
*.dsc
*.deb
*.buildinfo
*.ddeb
zlib-*
pcre-*
openssl-*
nginx/debian/changelog
nginx/nginx-*/debian/
nginx/nginx-*/objs/
nginx/nginx-*/Makefile
!*.tar.gz
nginx/nginx_*.debian.tar.xz
nginx/nginx_*_amd64.changes
nginx/nginx_*.orig.tar.xz
